@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

html, body{
    font-family: "Honk", system-ui;
    background-image: linear-gradient(to right, green, purple, yellow, rgb(62, 62, 253), red);
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.194);
    display: inline-block;
    margin: auto;
    margin-top: 0;
    padding: 5px;
    border-radius: 10px;
}

div{
    margin-top: 8px;
    height: 600px;
}

img{
    border-radius: 10px;
    height: 400px;
}

a{
    margin-top: 15px;
}

p{
    display:block;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
}

p:hover {
    font-size: 32px;
}

#img2{
 display: none;   
}

@media screen and (max-width: 842px) {
    
    div{
        margin-top: 0;
    }
   
    #img1 {
        display:none;
    }

    #img2{
        display: block;
        margin: auto;
    }
}